[flake8]
extend-ignore = E501, F401, F405, F841, E712, E711, E203, C901, F403, F811
exclude = .git,
          __pycache__,
          docs,
          old,
          build,
          dist,
          cairis/legacy/*
          cairis/test/*
max-complexity = 10
